<div th:fragment="navbar">
        <div class="navbar">
                <a href="/" class="company-name">SkyMaster</a>
                <div class="nav-links">
                        <a href="/">Home</a>
                        <a href="/flights">Flights</a>
                        <a href="/contact">Contact Us</a>
                </div>
                <div class="login-link">
                        <div th:if="${#authorization.expression('isAuthenticated()')}">
                                <a th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" href="/account">My Account</a>
                                <a th:if="${#authorization.expression('hasRole(''ROLE_AIRLINE'')')}" href="/airline-flights">Airline Account</a>
                                <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" href="/admin-page">Admin Page</a>
                                <a href="/logout">Logout</a>
                        </div>
                        <div th:if="${#authorization.expression('!isAuthenticated()')}">
                                <a href="/login">Login</a>
                        </div>
                </div>
        </div>
</div>