<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Edit Flight</title>
        <link rel="stylesheet" href="/styles/fragments/navbar.css">
        <link rel="stylesheet" href="/styles/fragments/footer.css">
        <link rel="stylesheet" href="/styles/add-flight.css">
    </head>
    <body>
        <div th:insert="~{fragments/navbar :: navbar}"></div>
        <div class="container">
            <h1>Edit Flight</h1>
            <form th:action="@{/admin-page/edit-flight/{flightId}(flightId=${flight.id})}" method="post">
                <div>
                    <label for="iataCode">Airline (IATA Code):</label>
                    <select id="iataCode" name="iataCode" required>
                        <option th:each="airline : ${airlines}" th:value="${airline.iataCode}" th:text="${airline.iataCode + ' - ' + airline.airlineName}" th:selected="${airline.iataCode eq flight.airline.iataCode}"></option>
                    </select>
                </div>
                <div>
                    <label for="flightNumber">Flight Number:</label>
                    <input type="text" id="flightNumber" name="flightNumber" th:value="${flight.flightNumber}" required>
                </div>
                <div>
                    <label for="originAirport">Origin Airport:</label>
                    <select id="originAirport" name="originAirport" required>
                        <option th:each="airport : ${airports}" th:value="${airport.airportCode}" th:text="${airport.airportCode + ' - ' + airport.airportName}" th:selected="${airport.airportCode eq flight.originAirport.airportCode}"></option>
                    </select>
                </div>
                <div>
                    <label for="destinationAirport">Destination Airport:</label>
                    <select id="destinationAirport" name="destinationAirport" required>
                        <option th:each="airport : ${airports}" th:value="${airport.airportCode}" th:text="${airport.airportCode + ' - ' + airport.airportName}" th:selected="${airport.airportCode eq flight.destinationAirport.airportCode}"></option>
                    </select>
                </div>
                <div>
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" th:value="${flight.date}" required>
                </div>
                <div>
                    <label for="departureTimeLocal">Departure Time (Local):</label>
                    <input type="time" id="departureTimeLocal" name="departureTimeLocal" th:value="${flight.departureTimeLocal}" required>
                </div>
                <div>
                    <label for="landingTimeLocal">Landing Time (Local):</label>
                    <input type="time" id="landingTimeLocal" name="landingTimeLocal" th:value="${flight.landingTimeLocal}" required>
                </div>
                <div>
                    <label for="remainingTickets">Remaining Tickets:</label>
                    <input type="number" id="remainingTickets" name="remainingTickets" th:value="${flight.remainingTickets}" required>
                </div>
                <div>
                    <label for="flightStatus">Flight Status:</label>
                    <select id="flightStatus" name="flightStatus" required>
                        <option th:each="flightStatus : ${T(com.example.flightticketmanagement.models.Flight.FlightStatus).values()}" th:value="${flightStatus}" th:text="${flightStatus}" th:selected="${flightStatus == flight.flightStatus}"></option>
                    </select>
                </div>
                <button type="submit">Update Flight</button>
            </form>
        </div>
        <div th:insert="~{fragments/footer :: footer}"></div>
    </body>
</html>
