<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/styles/fragments/navbar.css">
    <link rel="stylesheet" href="/styles/fragments/footer.css">
    <link rel="stylesheet" href="/styles/login.css">
  </head>
  <body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <div class="container">
      <h1>Admin Login</h1>
      <form th:action="@{/admin-login}" method="post">
        <div>
          <label for="username">Admin Username:</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div>
          <label for="password">Admin Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
      </form>
      <p>Are you a customer? <a href="/login">Login here</a></p>
      <p>Are you an airline? <a href="/airline-login">Login here</a></p>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
  </body>
</html>