<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Airline Login</title>
        <link rel="stylesheet" href="/styles/fragments/navbar.css">
        <link rel="stylesheet" href="/styles/fragments/footer.css">
        <link rel="stylesheet" href="/styles/login.css">
    </head>
    <body>
        <div th:insert="~{fragments/navbar :: navbar}"></div>
        <div class="container">
            <h1>Airline Login</h1>
            <form th:action="@{/login}" method="post">
                <div>
                    <label for="username">Airline Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="password">Airline Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
            <p th:if="${param.error}" style="color: red;">Invalid username or password. Please try again.</p>
            <p>Are you a customer? <a href="/login">Login here</a></p>
            <p>Are you an admin? <a href="/admin-login">Login here</a></p>
        </div>
        <div th:insert="~{fragments/footer :: footer}"></div>
    </body>
</html>