<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Flights</title>
    <link rel="stylesheet" href="/styles/fragments/navbar.css">
    <link rel="stylesheet" href="/styles/fragments/footer.css">
    <link rel="stylesheet" href="/styles/airline-flights.css">
  </head>
  <body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <div class="container">
      <h1>Airline Flights</h1>
      <div class="search-link">
        <a href="/airline-flights/add" class="add-flights-button">Add Flight</a>
      </div>
      <table>
        <thead>
        <tr>
          <th>Flight Number</th>
          <th>Airline Name</th>
          <th>Origin Airport</th>
          <th>Destination Airport</th>
          <th>Date</th>
          <th>Departure Time (Local)</th>
          <th>Landing Time (Local)</th>
          <th>Remaining Tickets</th>
          <th>Status</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over flight data and display in table rows -->
        <tr th:each="flight : ${flights}">
          <td th:text="${flight.flightNumber}"></td>
          <td th:text="${flight.airline.airlineName}"></td>
          <td th:text="${flight.originAirport.airportCode}"></td>
          <td th:text="${flight.destinationAirport.airportCode}"></td>
          <td th:text="${flight.date}"></td>
          <td th:text="${flight.departureTimeLocal}"></td>
          <td th:text="${flight.landingTimeLocal}"></td>
          <td th:text="${flight.remainingTickets}"></td>
          <td th:text="${flight.flightStatus}"></td>
          <td>
            <a th:href="@{'/airline-flights/edit/' + ${flight.id}}" class="edit-flights-button">Edit</a>
            <form th:action="@{/airline-flights/cancel/{flightId}(flightId=${flight.id})}" method="post">
              <button type="submit" class="cancel-flights-button">Cancel</button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
  </body>
</html>
