<!DOCTYPE html>
{% extends 'ticket_management/base.html' %}
{% load static %}

    {% block title %}Edit Customer{% endblock %}

    {% block extra_head %}
        <link rel="stylesheet" href="{% static 'styles/ticket_management/add-edit-journey.css' %}">
    {% endblock %}

    {% block content %}
        <div class="container">
            <h1>Edit Customer</h1>
            <form action="{% url 'admin_edit_customer' customer.id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update Customer</button>
            </form>
        </div>
    {% endblock %}
