<!DOCTYPE html>
{% extends 'ticket_management/base.html' %}
{% load static %}

{% block title %}Add Ticket{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'styles/ticket_management/add-edit-journey.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Add New Ticket</h1>
    <form action="{% url 'admin_add_ticket' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Ticket</button>
    </form>
</div>
{% endblock %}
