body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 90px;
}

.tabs {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.tabs li {
    margin-right: 10px;
}
.tabs li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    background: #333;
    color: #fff;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s ease;
}
.tabs li.active a {
    background: #fff;
    color: #000;
    border-bottom: 2px solid #fff;
}
.tab-content {
    border: 1px solid #ccc;
    padding: 20px;
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border-spacing: 0;
    overflow-x: auto;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 1;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th:hover {
    background-color: #ddd;
}

thead {
    display: table-header-group;
}

tbody {
    display: block;
    overflow-y: auto;
    max-height: calc(100vh - 170px);
}

tbody::-webkit-scrollbar {
    width: 10px; /* Width of scrollbar */
}

tbody::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}

tbody::-webkit-scrollbar-thumb {
    background: #888; /* Thumb color */
}

tbody::-webkit-scrollbar-thumb:hover {
    background: #555; /* Hover effect for thumb */
}

tr {
    display: table; /* Restore table row behavior */
    width: 100%; /* Ensure rows span full width */
    table-layout: fixed; /* Maintain table layout */
}

td {
    white-space: nowrap;
}

.entity-sub-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 30px;
}

.add-button, .edit-button, .delete-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
    color: #fff;
    border: none;
}

.add-button {
    background-color: #28a745;
}

.add-button:hover {
    background-color: #218838;
}

.edit-button {
    background-color: #007bff;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}