body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 90px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border-spacing: 0;
    overflow-x: auto;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    position: sticky;
    top: 50px;
    z-index: 1;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th:hover {
    background-color: #ddd;
}

thead {
    display: table-header-group;
}

tbody {
    display: block;
    overflow-y: auto;
    max-height: calc(100vh - 170px);
}

tbody::-webkit-scrollbar {
    width: 10px; /* Width of scrollbar */
}

tbody::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}

tbody::-webkit-scrollbar-thumb {
    background: #888; /* Thumb color */
}

tbody::-webkit-scrollbar-thumb:hover {
    background: #555; /* Hover effect for thumb */
}

tr {
    display: table; /* Restore table row behavior */
    width: 100%; /* Ensure rows span full width */
    table-layout: fixed; /* Maintain table layout */
}

td {
    white-space: nowrap;
}

.search-link {
    text-align: right;
    margin-bottom: 20px;
}

.add-flights-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-flights-button:hover {
    background-color: #218838;
}

.edit-flights-button,
.cancel-flights-button {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-bottom: 5px;
}

.edit-flights-button {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.edit-flights-button:hover {
    background-color: #0056b3;
}

.cancel-flights-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

.cancel-flights-button:hover {
    background-color: #c82333;
}